#logon{
	background-color: rgba(255,255,255,0.5) !important;
	border-width:0 !important;
}

#f-autenticacao-usuario label,
#logon form a
{
	color:#333 !important;
}

#info, #userinfo{
	border-bottom: 2px solid #b8873d !important;
}
.navbar-default{
	background-color: #b8873d !important;
}

#miles-root > div > footer {
    background-color: #b8873d !important;
    color: #FFF !important;
    text-align: center !important;
    font-size: 12px !important;
	height: 30px !important;
	position: fixed !important;
	bottom: 0 !important;
	width: 100% !important;
}

#miles-root > div > footer a {
	color: #FFF;
	font-weight: bold;
}

#info .nome-projeto,
#menuprincipal .dropdown-menu li a
{
	color: #784a05 !important;
}

#menu .nav .open, 
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus
{
	background-color: #784a05 !important;
	color: #FFF !important;
}

#menuprincipal .dropdown-menu li a:hover
{
	background-color: #784a05 !important;
	color: #FFF !important;
}

#menulateralesquerdoprincipal .primary-nav
{
	margin-top: -20px;
}