#btn-criarbanco{
	float:right;
}
#btn-testarconexao,#btn-pacotes,#btn-instalar,#btn-personalizar{
	float:right;
	margin-right:5px;
}
#loader-criarbanco,#loader-pacotes,#loader-instalar{
	float:right;
	margin:3px 0 0 5px;
	display:none;
}			
#guiafrasetopo{
	float:right;
	color:#DDD;
}
#hr-instalacao{
	margin-top:-5px;
	width:100%;
}
.check-no{
	float:right;
	height:30px;
	margin:-5px -10px 0 0;
}
#retorno{
	float:right;
	clear:right;
	width:100%;
	margin-top:5px;
}
.panel-pacote{
	float:left;
	width:48%;
	margin-left:1%;
}
.checkbox-componente{
	float:right;				
}
#barradeprogresso-instalacao{
	width:91%;
	margin-top:7px;
	display:none;
}
#form-grupo-botao-instalacao{
	width:100%;
}
#view-componente .list-group-item{
	margin-bottom:10px;
}
.btn-instalacaosistema{
	width:125px;
}
#form-instalacao-sistema{
	width:100%;
	float:left;
	clear:left;
}
#panel-personalizacao{
	width:100%;
	float:left;
	clear:left;
	margin-top:20px;
}
#linha-personalizacao{
	display:none;
}
#linha-personalizacao .panel-footer{
	text-align:right;
}
#formulario-personalizado label{
	margin-left:5px;
}
#formulario-personalizado .form-group{
	border-bottom:1px solid #DDD;
	height:30px;
}
#loading-atualizar-personalizado{
	display:none;
}
#btn-salvar-pacotes{
	margin:10px auto;
	width: 98%;
	height: 30px;
}