/* Folha de Estilo */
.navbar-default{
	background-color:#fafafa;
	border:0px;
}
.navbar-brand img{
	margin:-3px auto;
	float:left;
}
.navbar-brand label {
	margin:auto 10px;
	float:left;
	color:#999;
}
.btn-default{
	border:0px;
}
.icone-entidade{
	float:right;
	margin-top:-5px;
}
.blockquote-reverse{
	background-color:#FAFAFA;
}

