/* Impressão de Pedido de Venda */
.div-logo {
    width:20%;

}
.div-logo #logo {
    height:50px;
    margin-top:10px;
    margin-left:-20px;
}
.div-titulo{
    width:60%;
    text-align:center;
}
.div-dados-empresa{
    width:20%;
}
.div-dados-empresa ul {
    font-size:10px;
    text-align:right;
    list-style-type:none;
}
.topo div{
    float:left;
    border-bottom:1px solid #000;
}
.topo .div-logo, .topo .div-titulo , .topo .div-dados-empresa{
    height:75px;
}

.div-numeropedido , .div-datahorapedido {
    width:50%;
    height:25px;
    line-height:25px;
    font-size:10px;
}
.div-datahorapedido {
    text-align:right;
}

.div-dados-cliente{
    width:100%;
    font-size:12px;
}
.div-dados-cliente div{
    width:25%;
    height:25px;
    line-height:25px;
}
.div-cliente-telefone , .div-cliente-email {
    text-align:right;
}
.div-dados-endereco{
    height:20px;
    line-height:20px;
    width:100%;
    font-size:10px;
}
.div-enderecocliente-logradouro{
    width:35%;
}
.div-enderecocliente-complemento{
    width:25%;
}
.div-enderecocliente-bairro{
    width:20%;
}
.div-enderecocliente-cidade{
    width:20%;
    text-align:right;
}
.div-enderecocliente-cep {
    text-align:right;
}
.div-cabecalho-pedido{
    width:100%;
}
.tabela-itenspedido {
    float:left;
    width:100%;
    clear:left;
}
.topo{
    width:100%;
    float:left;
}
.div-cabecalho-pedido-status {
    font-size:12px;
    height:25px;
    line-height:25px;
    width:33.3%;
    font-weight: bold;
}
.div-cabecalho-pedido-valorfrete {
    font-size:12px;
    height:25px;
    line-height:25px;
    width:33.3%;
    text-align:right;
    font-weight: bold;
}
.div-cabecalho-pedido-valortotal {
    font-size:14px;
    text-align:right;
    height:25px;
    line-height:25px;
    width:33.3%;
    font-weight: bold;
}

.tabela-itenspedido thead th{
    background-color:#EEE;
    border-bottom:3px solid #000;
}
.tabela-itenspedido tbody td{
    height:25px;
    line-height:25px;
    border-bottom:1px dashed #666;
    font-size:12px;
}
.tr-totais-pedido td {
    background-color:#EEE;
    font-weight:bold;
    font-size:14px;
}
.div-emitidopor {
    width:50%;
    float:left;
}
.div-datahora-emissao{
    width:50%;
    text-align:right;
}
.div-endereco-empresa1 {
    width:50%;
}
.div-endereco-empresa2 {
    width:50%;
}
.div-rodape {
    width:100%;
    margin-top:50px;
    border-top:3px solid #000;
}
.div-rodape div{
    float:left;
}
.div-endereco-empresa2 {
    text-align:right;
}

.div-endereco-empresa1 , .div-endereco-empresa2{
    border-top:1px dashed #666;
}
.div-cliente-razaosocial{
    width:100%;
    float:left;
    font-weight:bold;
    text-transform: uppercase;
    height:25px;
    line-height:25px;
}
.div-numeropedido {
    font-size:18px;
    font-weight:bold;
}
@media print{
    .div-titulo{
        text-align:right;
    }

    .div-logo {
        width:10%;
    }

    .div-dados-empresa{
        width:30%;
        font-size:6px;
    }
    .div-rodape{
        font-size:10px;
    }
    .tabela-itenspedido tbody td {
        font-size:10px;
    }
}